.container {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social {
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	opacity: 0.7;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.footerText {
		font-size: 12px;
	}
}
