.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.form {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.input {
	padding: 20px;
	background-color: transparent;
	border: solid 2px #bbb;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #bbb;
}

.button {
	padding: 20px;
	cursor: pointer;
	background-color: #53c28b;
	border: none;
	border-radius: 5px;
	width: 300px;
	color: white;
	font-weight: bold;
}

.togglePage:hover {
	text-decoration: underline;
}
