.container {
	width: 42px;
	height: 24px;
	border-radius: 30px;
	border: solid 1px #53c28b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 4px;
	position: relative;
	cursor: pointer;
}
.icon {
	font-size: 12px;
}

.ball {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #53c28b;
	position: absolute;
	transition: all 0.3s ease;
}
